:root {
  --black: rgb(0, 0, 0);
  --primary: hsl(192, 76%, 46%);
  --white: #f0f0f9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
menu,
footer {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  justify-content: center;
}

.div1 {
  width: 800px;
  height: 200px;
  background-color: rgba(38, 184, 18, 0.705);
  display: flex;
  
  text-overflow: ellipsis;
}
#text{
  
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#d1 {
  position: relative;
  
}

#f1 {
  background-color: var(--primary);
}
#f2 {
  background-color: #f4f5;
}

#f3 {
  background-color: rgba(41, 145, 20, 0.333);
}

#f4 {
  background-color: rgba(145, 20, 20, 0.333);
}

#f5 {
  background-color: rgba(217, 255, 0, 0.333);
}
